
sciteproj_WORK.xml
build/*
bin/sciteproj
test.xml
test2.xml
obj/*.o
Makefile.dep
about.o
addfiles.o
clipboard.o
drag_drop.o
file_utils.o
filelist.o
folder_to_xml.o
graphics.o
gui.o
main.o
prefs.o
properties_dialog.o
recent_files.o
remove.o
rename.o
scite_utils.o
search.o
statusbar.o
string_utils.o
test
tree_manipulation.o
xml_processing.o
